---
import Layout from "@/layouts/Layout.astro";
import { getHeroPages } from "@/lib/globalData";
import { getHomePageData } from "@/lib/homeData";
import Newsletter from "@/components/common/Newsletter.astro";
import type { NewsletterBlock } from "@/types/index";
import HeroPages from "@/components/common/HeroPages.astro";

export async function getStaticPaths() {
  return [{ params: { lang: "es-AR" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params;

const { blocks } = await getHomePageData(lang);

const globalHero = await getHeroPages(lang);

const blogHero = globalHero.find((hero) => hero.slug === "blog");

const heroProps = blogHero
  ? {
      title: blogHero.title,
      description: blogHero.description,
    }
  : null;

const newsletterData = blocks?.find(
  (b) => b.__component === "blocks.newsletter"
) as NewsletterBlock | undefined;
---

<Layout title={heroProps?.title || "Blog"}>
  {heroProps && <HeroPages {...heroProps} />}

  {
    newsletterData && (
      <div class="relative z-10 -mt-24 md:mb-10">
        <Newsletter {...newsletterData} />
      </div>
    )
  }
</Layout>
