---
import Advice from "@/components/common/Advice.astro";
import Layout from "@/layouts/Layout.astro";
import { getHeroPages, getHomePageData, getProjects } from "@/lib/data";
import Newsletter from "@/components/blocks/Newsletter.astro";
import type { NewsletterBlock, Project } from "../../types/index";
import HeroPages from "@/components/common/HeroPages.astro";
import ProjectCard from "@/components/projects/projectCard.astro";
const projects = await getProjects();
// 1. EXTRAER EL NEWSLETTER: Buscamos si existe el bloque en la data
const { blocks } = await getHomePageData();
const globalHero = await getHeroPages();
const projectHero = globalHero[4];
const heroProps = projectHero
  ? {
      title: projectHero.title,
      description: projectHero.description,
      backgroundImage: projectHero.backgroundImage,
    }
  : null;
const newsletterData = blocks?.find(
  (b) => b.__component === "blocks.newsletter"
) as NewsletterBlock | undefined;
---

<Layout>
  {heroProps && <HeroPages {...heroProps} />}
  <section class="py-16 md:py-24 bg-white">
    <div class="max-w-full mx-auto">
      {projects?.map((project) => <ProjectCard project={project} />)}
    </div>
  </section>
  <Advice />
  {
    newsletterData && (
      <div class="relative z-10 -mt-24 mb-10">
        <Newsletter {...newsletterData} />
      </div>
    )
  }
</Layout>
