@import "tailwindcss";

.container {
  margin-inline: auto;
  padding-inline: 1rem;
}
.primary-blue {
    color: #1C39BB;
}
.secondary-blue {
    color: #6495ED
}
.dark-blue {
    color: #011F5B
}
.white-smoke {
    color: #F5F5F5
}
