---
import {
  getLangFromUrl,
  useTranslations,
  getLocalizedPath,
} from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const contactUrl = getLocalizedPath("/contact", lang);
---

<div
  class="bg-dark-blue w-full h-full flex flex-col md:flex-row items-center justify-center pt-15 pb-40 lg:pb-60 px-6 md:px-0"
>
  <div class="w-md mb-5 md:mb-0 px-6 md:px-0">
    <h3
      class="font-bold text-xl text-center max-w-2xl md:max-w-full md:text-start md:text-3xl lg:text-[40px] text-white"
    >
      {t("advice.title")}
    </h3>
  </div>

  <a aria-label="Contact Us" href={contactUrl} class="block">
    <button
      class="relative overflow-hidden primary-blue font-bold bg-white rounded-lg px-5 py-3 text-md lg:text-xl cursor-pointer group"
    >
      <span
        class="absolute inset-0 bg-[#1C39BB] transform scale-x-0 origin-left transition-transform duration-300 ease-in-out group-hover:scale-x-100"
      ></span>

      <span
        class="relative z-10 transition-colors duration-300 ease-in-out group-hover:text-white"
      >
        {t("advice.btn")}
      </span>
    </button>
  </a>
</div>
