---
import LogoFooter from "../ui/logoFooter.astro";
import FacebookIcon from "../shared/icons/facebookIcon.astro";
import InstagramIcon from "../shared/icons/instagramIcon.astro";
import LinkedinIcon from "../shared/icons/linkedinIcon.astro";
import WhatsappIcon from "../shared/icons/whatsapp.astro";

import {
  getLangFromUrl,
  useTranslations,
  getLocalizedPath,
} from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="bg-[#1E1E1E] relative text-white pb-16 pt-20 md:pt-36">
  <div class="absolute top-0 left-0 w-full transform -translate-y-1/2 z-20">
  </div>
  <div class="mx-auto px-6">
    <div
      class="grid grid-cols-1 text-center gap-5
                    md:grid-cols-2 md:text-left md:items-start md:justify-items-center
                    lg:grid-cols-4 px-10 pt-6"
    >
      <div class="flex justify-center md:justify-start">
        <LogoFooter />
      </div>

      <div>
        <h3 class="font-medium text-xl mb-4">{t("footer.contact")}</h3>
        <a href="mailto:hola@asomelab.com" class="text-muted-foreground mb-3">
          hola<span class="primary-blue">@</span>asomelab.com
        </a>
        <div class="flex justify-center md:justify-start gap-1 mt-3">
          <a href="#" target="_blank" aria-label="Whatsapp">
            <WhatsappIcon class="size-8" />
          </a>
          <a href="#" target="_blank" aria-label="Instagram">
            <InstagramIcon class="size-8" />
          </a>
          <a href="#" target="_blank" aria-label="LinkedIn">
            <LinkedinIcon class="size-8" />
          </a>
          <a href="#" target="_blank" aria-label="Facebook">
            <FacebookIcon class="size-8" />
          </a>
        </div>
      </div>

      <div>
        <h3 class="font-medium text-xl mb-4">{t("footer.home")}</h3>
        <ul class="space-y-2">
          <li>
            <a href={getLocalizedPath("/careers", lang)}
              >{t("footer.workWithUs")}</a
            >
          </li>
          <li>
            <a href={getLocalizedPath("/about", lang)}>{t("footer.about")}</a>
          </li>
          <li>
            <a href={getLocalizedPath("/projects", lang)}
              >{t("footer.projects")}</a
            >
          </li>
          <li>
            <a href={getLocalizedPath("/blog", lang)}>{t("footer.blog")}</a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="font-medium text-xl mb-4">{t("footer.services")}</h3>
        <ul class="space-y-2">
          <li>
            <a href={getLocalizedPath("/services/construction", lang)}
              >{t("footer.buildStage")}</a
            >
          </li>
          <li>
            <a href={getLocalizedPath("/services/growth", lang)}
              >{t("footer.growthStage")}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
