---
import LogoFooter from "../ui/logoFooter.astro";
import FacebookIcon from "../shared/icons/facebookIcon.astro";
import InstagramIcon from "../shared/icons/instagramIcon.astro";
import LinkedinIcon from "../shared/icons/linkedinIcon.astro";
import WhatsappIcon from "../shared/icons/whatsappIcon.astro";
---

<footer class="bg-[#1E1E1E] relative text-white pb-16 pt-36">
  <div class="absolute top-0 left-0 w-full transform -translate-y-1/2 z-20">
  </div>
  <div class="mx-auto px-6">
    <div
      class="grid grid-cols-1 text-center
                    md:grid-cols-2 md:text-left md:items-start md:justify-items-center
                    lg:grid-cols-4 px-10 pt-6"
    >
      {/* Logo */}
      <div class="flex justify-center md:justify-start">
        <LogoFooter />
      </div>

      {/* Contacto */}
      <div>
        <h3 class="font-medium text-xl mb-4">Contacto</h3>
        <a href="mailto:hola@asomelab.com" class="text-muted-foreground mb-3">
          hola<span class="text-[#1C39BB]">@</span>asomelab.com
        </a>
        <div class="flex justify-center md:justify-start gap-3">
          <a href="">
            <WhatsappIcon class="size-6" />
          </a>
          <a href="">
            <InstagramIcon class="size-6" />
          </a>
          <a href="">
            <LinkedinIcon class="size-6" />
          </a>
          <a href="">
            <FacebookIcon class="size-6" />
          </a>
        </div>
      </div>

      {/* Inicio */}
      <div>
        <h3 class="font-medium text-xl mb-4">Inicio</h3>
        <ul class="space-y-2">
          <li><a href="">Trabajá con nosotros</a></li>
          <li><a href="">Sobre nosotros</a></li>
          <li><a href="">Proyectos</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>

      {/* Servicios */}
      <div>
        <h3 class="font-medium text-xl mb-4">Servicios</h3>
        <ul class="space-y-2">
          <li><a href="">Etapa de construcción</a></li>
          <li><a href="">Etapa de crecimiento</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
