---
import LogoFooter from "../ui/logoFooter.astro";
import FacebookIcon from "../shared/icons/facebookIcon.astro";
import InstagramIcon from "../shared/icons/instagramIcon.astro";
import LinkedinIcon from "../shared/icons/linkedinIcon.astro";
import WhatsappIcon from "../shared/icons/whatsapp.astro";
const linkedinUrl =
  "https://www.linkedin.com/search/results/all/?heroEntityKey=urn%3Ali%3Aorganization%3A107659926&keywords=Asome%20Lab&origin=ENTITY_SEARCH_HOME_HISTORY&sid=oW!";
import {
  getLangFromUrl,
  useTranslations,
  getLocalizedPath,
} from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer role="contentinfo" class="bg-[#1E1E1E] relative pb-16 pt-20 md:pt-36">
  <div class="absolute top-0 left-0 w-full transform -translate-y-1/2 z-20">
  </div>
  <div class="mx-auto px-6">
    <div
      class="grid grid-cols-1 text-center gap-5
                    md:grid-cols-2 md:text-left md:items-start md:justify-items-center
                    lg:grid-cols-4 px-10 pt-6"
    >
      <div class="flex justify-center md:justify-start">
        <LogoFooter />
      </div>

      <div>
        <h3 class="font-medium text-white text-xl mb-4">
          {t("footer.contact")}
        </h3>
        <a href="mailto:hola@asomelab.com" class="text-gray-300 mb-3">
          hola<span class="primary-blue">@</span>asomelab.com
        </a>
        <div class="flex text-white justify-center md:justify-start gap-1 mt-3">
          <a href="#" target="_blank" aria-label="Whatsapp">
            <WhatsappIcon class="size-8" />
          </a>
          <a
            href="https://www.instagram.com/asomelab/"
            target="_blank"
            aria-label="Instagram"
          >
            <InstagramIcon class="size-8" />
          </a>
          <a href={linkedinUrl} target="_blank" aria-label="LinkedIn">
            <LinkedinIcon class="size-8" />
          </a>
          <a
            href="https://www.facebook.com/profile.php/?id=61581113521682"
            target="_blank"
            aria-label="Facebook"
          >
            <FacebookIcon class="size-8" />
          </a>
        </div>
      </div>

      <div>
        <h3 class="font-medium text-white text-xl mb-4">{t("footer.home")}</h3>
        <ul class="space-y-2 text-gray-300">
          <li>
            <a href={getLocalizedPath("/about/work-with-us", lang)}
              >{t("footer.workWithUs")}</a
            >
          </li>
          <li>
            <a href={getLocalizedPath("/about", lang)}>{t("footer.about")}</a>
          </li>
          <li>
            <a href={getLocalizedPath("/projects", lang)}
              >{t("footer.projects")}</a
            >
          </li>
          <li>
            <a href={getLocalizedPath("/blog", lang)}>{t("footer.blog")}</a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="font-medium text-white text-xl mb-4">
          {t("footer.services")}
        </h3>
        <ul class="space-y-2 text-gray-300">
          <li>
            <a href={getLocalizedPath("/services/software", lang)}
              >{t("footer.buildStage")}</a
            >
          </li>
          <li>
            <a href={getLocalizedPath("/services/marketing", lang)}
              >{t("footer.growthStage")}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
