---
import Layout from "@/layouts/Layout.astro";
import Newsletter from "@/components/blocks/Newsletter.astro";
import { getHeroPages, getNewsletterData } from "@/lib/data";
import HeroPages from "@/components/common/HeroPages.astro";

const newsletterData = await getNewsletterData();
const globalHero = await getHeroPages();
const contactHero = globalHero[5];
const heroProps = contactHero
  ? {
      title: contactHero.title,
      description: contactHero.description,
      buttonText: contactHero.buttonText,
      buttonUrl: contactHero.buttonUrl,
      buttonIcon: contactHero.buttonIcon,
    }
  : null;
---

<Layout>
  {heroProps && <HeroPages {...heroProps} />}
  <p>Contact works</p>

  {
    newsletterData && (
      <div class="relative z-10 -mt-24 mb-10">
        <Newsletter {...newsletterData} />
      </div>
    )
  }
</Layout>
