<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/es-AR" />
    <link rel="canonical" href="/es-AR" />
  </head>
  <body>
    <script>
      window.location.replace("/es-AR");
    </script>
  </body>
</html>
